PORT=4000

# PostgreSQL (si DATABASE_URL n'est pas fourni)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=geo_veh
DB_USER=postgres
DB_PASSWORD=paxine

# Alternative
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/geo_veh

JWT_SECRET=super_secret_key_123456
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=12

# CORS (séparé par virgule). Mettre "*" en dev si besoin.
CORS_ORIGIN=http://localhost:3000

